html,
body {
  min-width: 1000px;
  padding: 0;
  margin: 0;
  font: 14px Interstate,Lucida Grande,Arial,sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
